@charset "UTF-8";
@media screen and (min-width: 640px) { html { font-size: 40px; } }
@media screen and (min-width: 540px) and (max-width: 640px) { html { font-size: 32px; } }
@media screen and (min-width: 480px) and (max-width: 540px) { html { font-size: 24px; } }
@media screen and (max-width: 480px) { html { font-size: 16px; } }
body { background: #f5f5f5; margin: 0; font-family: 'Microsoft Yahei'; }

h1, h2, h3 { margin: 0; }

a { text-decoration: none; color: #000; }

.fl { float: left; }

.fr { float: right; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

header { position: relative; height: 2.5625rem; line-height: 2.5625rem; background: #91d4da; }

header h1 { margin: 0; font-size: 1rem; font-weight: normal; color: #fff; text-align: center; }

header .returnBtn { position: absolute; top: 0; left: 0; font-size: 0.875rem; color: #fff; padding-left: 0.625rem; }

header .returnBtn span { font-family: '宋体'; padding-right: 0.3125rem; }

nav { height: 2.0625rem; display: flex; line-height: 1.75rem; font-size: 0.75rem; background: #fff; }

nav > a { flex-grow: 1; text-align: center; color: #666; }

nav > a.cur { border-bottom: 0.1875rem solid #91d4da; }

.banner { height: 10.9375rem; }

.banner img { width: 100%; height: 100%; }

section { background: #fff; padding-left: 0.5625rem; padding-right: 0.5625rem; }

.cates > div { display: flex; text-align: center; padding: 0.875rem 0; }

.cates .tags { border-bottom: 0.0625rem solid #dedede; }

.cates .tags a { flex: 1; }

.cates .tags a img { display: block; margin: 0 auto 0.625rem; width: 2.5rem; height: 2.5rem; border-radius: 50%; }

.cates .tags h2 { font-size: 0.75rem; color: #303030; }

.cates .cols a { flex: 1; border-right: 0.0625rem solid #dedede; }

.cates .cols a:last-child { border: 0; }

.cates .cols a img { width: 5rem; height: 3.75rem; }

.cates .cols a h2 { font-size: 0.875rem; color: #2f2f2f; }

.cates .cols a h3 { font-size: 0.75rem; margin-top: 0.3125rem; color: #5b5b5b; }

.module { margin-top: 0.8125rem; padding-bottom: 0.625rem; }

.module h1 { font-size: 0.875rem; line-height: 2.4375rem; text-indent: 0.75rem; color: #656565; border-bottom: 0.0625rem solid #e0e0e0; }

.module .details { display: flex; justify-content: space-between; height: 9.75rem; margin-top: 0.625rem; }

.module .details > div { display: flex; flex-direction: column; justify-content: space-between; }

.module .details .images img { width: 4.8125rem; height: 4.5625rem; }

.module .items a { display: block; background: #f8f8f8; width: 6.375rem; height: 2rem; text-align: center; line-height: 2rem; color: #474747; font-size: 0.875rem; }

.module > div img { border: 0.0625rem solid #ffb633; }

.article { margin-top: 0.0625rem; display: flex; padding-top: 0.5rem; padding-bottom: 0.5rem; }

.article.marginTop10 { margin-top: 0.8125rem; }

.article h2 { color: #656565; font-size: 0.8125rem; }

.article .info { color: #656565; font-size: 0.75rem; transform: scale(0.8, 0.8); transform-origin: left; }

.article .info a { color: #656565; }

.article_onePic img { width: 5.625rem; height: 4rem; padding-right: 0.625rem; flex-shrink: 0; }

.article_onePic > div { display: flex; flex-direction: column; }

.article_onePic h2 { flex-grow: 1; }

.article_threePic { flex-direction: column; }

.article_threePic .images { padding-bottom: 0.3125rem; display: flex; justify-content: space-between; }

.article_threePic .images img { width: 6.25rem; height: 4.125rem; }

.article_threePic h2 { padding-bottom: 5px; }
