$default-font-size: 16px !default;
$font-ht: SimHei;
$font-st: Simsun;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  margin: 0 auto;
  font-family: "Microsoft Yahei";
  background-color: #eeeeed;
}
h1, h2, h3, ul, p {
  margin: 0;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.btn-primary {
  width: 50px;
  height: 25px;
  color: #fff;
  background-color: #388ac1;
  border: 0;
  border-radius: 3px;
  font: 12px $font-ht;
}

.fl { float: left; }
.fr { float: right; }
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

/* header start */
.header {
  //position: fixed;
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 99;
  background-color: #2189bf;
  h1 {
    height: 36px;
    padding-top: 10px;
    padding-left: 50px;
  }
  .header_right {
    width: 467px;
    padding-right: 93px;
    input {
      width: 313px;
      height: 26px;
      margin-top: 15px;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      border-radius: 13px;
      border: 0;
      text-indent: 35px;
      background: url("./images/images.png") #fff no-repeat 17px 0;
    }
    a {
      height: 17px;
      padding-left: 18px;
      font-size: 12px;
      color: #fff;
      margin-top: 20px;
      background: url("./images/images.png") no-repeat 0 -26px;
    }
  }
}
/* header end */

/* container start */
.container {
  width: 1280px;
  margin: 0 auto;
  padding-top: 56px;
  /* aside start */
  .aside {
    width: 260px;
    min-height: 1200px;
    color: #697b8f;
    background-color: #2a2e3d;
    .user {
      padding-left: 45px;
      padding-top: 18px;
      img {
        width: 57px;
        height: 57px;
        padding: 4px;
        border: 1px solid #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      h2 {
        width: 158px;
        padding-left: 18px;
        padding-top: 19px;
        font: 16px $font-ht;
        a {
          color: #fff;
        }
      }
    }
    .data {
      padding: 21px 0 21px 45px;
      margin-left: -12px;
      div {
        font: 12px $font-st;
        width: 87px;
        text-align: center;
        span {
          display: block;
          font: 16px $font-ht;
        }
      }
      .border2 {
        border-right: 2px solid #323647;
      }
    }
    .reports {
      padding: 15px 0 12px 45px;
      background-color: #393e4e;
      font: 12px $font-ht;
      h2 {
        color: #fff;
        line-height: 14px;
        font-size: 12px;
        padding-left: 25px;
        background: url("./images/images.png") no-repeat 0 -199px;
      }
      ul {
        margin: 12px 0 0 22px;
        li {
          margin: 16px 0 0;
          line-height: 14px;
        }
        .folder {
          padding-left: 18px;
          background: url("./images/folder_close.png") no-repeat;
          ul {
            display: none;
            margin-left: 14px;
            margin-bottom: 12px;
          }
          span {
            padding-left: 16px;
            background: url("./images/folder.png") no-repeat;
          }
        }
        .folder.open, .folder:hover {
          background: url("./images/folder_open.png") no-repeat !important;
          > ul {
            display: block !important;
          }
        }
        .folder.active, .folder:hover {
          > span {
            color: #fff !important;
            background: url("./images/folder_active.png") no-repeat !important;
          }
        }
        .file {
          padding-left: 16px;
          background: url("./images/file.png") no-repeat;
        }
        .file.active, .file:hover {
          color: #fff !important;
          background: url("./images/file_active.png") no-repeat !important;
        }
      }
    }
    .nav {
      padding-left: 45px;
      a {
        margin-top: 16px;
        margin-bottom: 34px;
        display: block;
        line-height: 14px;
        color: #697b8f;
        font: 12px $font-ht;
        padding-left: 25px;
      }
      a:hover {
        color: #fff;
      }
      a.star {
        background: url("./images/images.png") no-repeat 0  -43px;
      }
      a.share {
        background: url("./images/images.png") no-repeat 0  -57px;
      }
      a.account {
        background: url("./images/images.png") no-repeat 0  -71px;
      }
    }
  }
  /* aside end */
  /* container_right start */
  .container_right {
    width: 1020px;
    .location {
      height: 30px;
      line-height: 30px;
      text-indent: 30px;
      color: #aaaaaa;
      font-size: 12px;
      background: #fff;
      a {
        color: #aaaaaa;
        padding: 0 3px;
      }
      a.active {
        color: #2189bf;
      }
    }
    .details {
      width: 892px;
      margin: 19px 0 0 59px;
      .filter {
        height: 85px;
        background: #ffffff;
        border: 1px solid #dcdedf;
        font: 12px $font-ht;
        padding-top: 13px;
        margin-bottom: 10px;
        .section {
          float: left;
          height: 60px;
          padding-left: 20px;
          padding-right: 8px;
          line-height: 30px;
          label{
            padding: 0 10px;
          }
          input.bgnone {
            background: #fff !important;
          }
          .bueatySelect {
            position: relative;
            display: inline;
            input {
              width: 68px;
              height: 23px;
              text-indent: 5px;
              padding-right: 17px;
              border: 1px solid #cbcbcb;
              background: url("./images/images.png") #fff no-repeat 51px -85px;
            }
            ul {
              width: 68px;
              position: absolute;
              top: 16px;
              left: 0;
              display: none;
              z-index: 9;
              background: #fff;
              border: 1px solid #d5d5d6;
              li {
                line-height: 24px;
                text-indent: 5px;
              }
              li:hover {
                background: #ccc;
              }
            }
          }
          .bueatySelect.wider {
            input {
              width: 119px;
              background: url("./images/images.png") no-repeat 102px -85px;
            }
            ul {
              width: 119px;
            }
          }
          .bueatySelect:hover {
            ul {
              display: block;
            }
          }
        }
        div.parties {
          padding-right: 24px;
          background: url("./images/images.png") no-repeat 190px -107px;
        }
        div.options {
          label {
            padding: 0 9px;
          }
        }
        .submit {
          margin-top: 18px;
          margin-left: 16px;
        }
      }
      .timeline {
        .fl {
          position: relative;
          width: 756px;
          height: 65px;
          .btn, ul li {
            border: 1px solid #cacdd1;
          }
          .items {
            position: absolute;
            top: 0;
            left: 35px;
            height: 100%;
            overflow: hidden;
            li {
              width: 112px;
              height: 65px;
              margin-right:3px;
              text-align: center;
              float: left;
              padding-top: 10px;
              span {
                display: block;
                font-size: 14px;
                color: #b0b0b0;
                b {
                  font-size: 21px;
                  font-weight: normal;
                  color: #ec6500;
                }
              }
              span.first {
                color: #000;
                font-size: 12px;
                margin-bottom: 5px;
              }
            }
            li:hover, li.active {
              padding-top: 7px;
              border-top: 4px solid #4388c8;
            }
          }
          .btn {
            position: absolute;
            top: 0;
            width: 31px;
            height: 100%;
          }
          .btn.left {
            left: 0;
            background: url("./images/images.png") #fff no-repeat 0 -213px;
          }
          .btn.right {
            right: 0;
            background: url("./images/images.png") #fff no-repeat 0 -276px;
          }
        }
        .fr {
          width: 131px;
          height: 65px;
          font-size: 12px;
          border: 1px solid #cacdd1;
          a {
            display: block;
            line-height: 31px;
            padding-left: 43px;
            margin-top: 17px;
            margin-left: 19px;
            background: url("./images/images.png") no-repeat 0 -168px;
          }
        }
      }
      h3 {
        font-size: 12px;
        margin-top: 19px;
      }
      .statistic {
        li {
          float: left;
          width: 202px;
          height: 72px;
          padding-top: 12px;
          margin-top: 4px;
          margin-right: 28px;
          border: 1px solid #d8d9da;
          div {
            width: 122px;
            float: left;
            font: 12px $font-ht;
            color: #b0b0b0;
            line-height: 24px;
            padding-left: 8px;
            b {
              display: block;
              color: #000;
            }
          }
          span {
            float: left;
            display: block;
            width: 60px;
            height: 46px;
          }
        }
        li.green {
          border-left: 4px solid #44b29e;
          span {
            background-color: #44b29e;
          }
        }
        li.blue {
          border-left: 4px solid #388ac1;
          span {
            background-color: #388ac1;
          }
        }
        li.red {
          border-left: 4px solid #cf4a36;
          span {
            background-color: #cf4a36;
          }
        }
        li.yellow {
          margin-right: 0;
          border-left: 4px solid #e2cd46;
          span {
            background-color: #e2cd46;
          }
        }
      }
      .graphic {
        padding-top: 5px;
        .tab, .search, .calendar, .rank {
          height: 357px;
          margin-top: 8px;
          background: #fff;
          border: 1px solid #ced1d4;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          overflow: hidden;
          // 标题
          h3 {
            color: #afafaf;
            font: 12px $font-ht;
            background: #f4f5f6;
            line-height: 40px;
            margin: 0;
            text-indent: 20px;
            border-bottom: 1px solid #e7e9eb;
          }
        }
        .tab, .rank {
          width: 532px;
        }
        .search, .calendar {
          width: 352px;
        }
        .tab {
          ul {
            position: relative;
            width: 490px;
            margin: 10px auto 0;
            li {
              float: left;
              span {
                position: relative;
                z-index: 2;
                display: block;
                width: 84px;
                height: 28px;
                text-align: center;
                line-height: 28px;
                color: #535353;
                background: #ededf0;
                margin-right: 5px;
                border: 1px solid #ededf0;
                border-bottom: 0;
                -webkit-border-radius: 5px 5px 0 0;
                -moz-border-radius: 5px 5px 0 0;
                border-radius: 5px 5px 0 0;
              }
              div {
                display: none;
                position: absolute;
                top: 28px;
                left: 0;
                width: 490px;
                background: #fff;
                -webkit-border-radius: 0 5px 5px 5px;
                -moz-border-radius: 0 5px 5px 5px;
                border-radius: 0 5px 5px 5px;
                border: 1px solid #cbcccc;
                table {
                  font-size: 12px;
                  width: 403px;
                  margin: 28px auto 36px;
                  border: solid #d5d5d6;
                  border-width: 1px 0 0 1px;
                  td {
                    padding: 0;
                    width: 101px;
                    text-align: center;
                    line-height: 30px;
                    border: solid #d5d5d6;
                    border-width: 0 1px 1px 0;
                  }
                  td:hover {
                    background-color: #f4f6f7;
                  }
                }
              }
            }
            li:hover, li.active {
              span {
                height: 29px;
                background: #fff;
                border-color: #cbcccc;
              }
              div {
                display: block;
              }
            }
          }
        }
        .search {
          font-size: 12px;
          .main {
            padding: 17px 35px 0;
            p, strong {
              padding-left: 16px;
            }
            p {
              color: #c3c2c2;
            }
            div.table {
              margin-top: 8px;
              margin-bottom: 3px;
              border: solid #dddedd;
              border-width: 1px 0;
              div {
                width: 95px;
                padding-left: 15px;
                padding-bottom: 3px;
                p {
                  padding: 0;
                }
                span {
                  line-height: 22px;
                }
              }
              .border-right {
                border-right: 1px solid #dddedd;
              }
            }
            .color-black {
              color: #000;
              line-height: 20px;
              height: 129px;
              margin-bottom: 3px;
              border-bottom: 1px solid #e7e7e7;
            }
            .protocol {
              label {
                color: #d6d6d6;
              }
            }
          }
        }
        .calendar {
          .options {
            width: 310px;
            margin: 0 auto;
            padding: 10px 0 10px 2px;
            border-bottom: 1px solid #a9cfec;
            select, button {
              color: #5e5e5e;
              width: 72px;
              height: 22px;
              font: 12px $font-ht;
              background-color: #fff;
              border: 1px solid #cacbcb;
            }
            select {
              float: left;
              margin-right: 6px;
            }
          }
          table {
            width: 310px;
            margin: 0 auto;
            font-weight: bold;
            font: 12px $font-ht;
            text-align: center;
            tr.border2 {
              height: 31px;
              line-height: 23px;
              th {
                border-bottom: 2px solid #e1e1e2;
              }
            }
            td {
              width: 41px;
              height: 41px;
              padding: 2px 2px;
              line-height: 15px;
              b {
                display: block;
              }
            }
            td:hover, td.highlight {
              border: 1px solid #f4c21d;
            }
            td.weekend {
              b {
                color: #cd262c;
              }
            }
            td.holiday {
              span {
                color: #cd262c;
              }
            }
          }
        }
        .rank {
          table {
            width: 450px;
            margin: 18px auto 0;
            background: #c7c7c8;
            th, td {
              text-align: center;
              background: #fff;
            }
            th {
              line-height: 24px;
            }
            th.w66 {
              width: 66px;
            }
            th.w90 {
              width: 90px;
            }
            p {
              float: left;
              width: 104px;
              padding: 4px 22px 4px 0;
              font: 12px $font-ht;
              text-align: right;
            }
            td {
              div {
                position: relative;
                margin-top: 10px;
                float: left;
                width: 167px;
                height: 4px;
                background: #dcdcdc;
                div {
                  position: absolute;
                  top: 0;
                  left: 0;
                  margin: 0;
                  background: #7fcbf0;
                  overflow: hidden;
                }
              }
            }
            tr.no1 { div div { width: 141px !important; background: #ec6d51 !important; } }
            tr.no2 { div div { width: 121px !important; background: #ef804f !important; } }
            tr.no3 { div div { width: 107px !important; background: #f19e4f !important; } }
            tr.no4 { div div { width: 100px !important; } }
            tr.no5 { div div { width: 89px !important; } }
            tr.no6 { div div { width: 82px !important; } }
            tr.no7 { div div { width: 77px !important; } }
            tr.no8 { div div { width: 67px !important; } }
            tr.no9 { div div { width: 62px !important; } }
            tr.no10 { div div { width: 57px !important; } }
          }
        }
      }
    }
  }
  /* container_right end */
}
/* container end */